Page/items.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="items" type="itemsType"/>
  <xs:complexType name="capabilityType">
    <xs:sequence>
      <xs:element name="capocaption">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
                    Не придумано
                "/>
            <xs:enumeration value="
                    Лёгкий парогенератор
                "/>
            <xs:enumeration value="
                    Натуральные компоненты
                "/>
            <xs:enumeration value="
                    Следите за потреблением
                "/>
            <xs:enumeration value="
                    Инновационная структура
                "/>
            <xs:enumeration value="
                    Эргономичный дизайн
                "/>
            <xs:enumeration value="
                    Непокоримая мощность
                "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="capoimage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
                    img/Temp/Temporary_21_9.png
                "/>
            <xs:enumeration value="
                    img/ellipse/ellipseIntegration_21_9.png
                "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capabilitiesType">
    <xs:sequence>
      <xs:element type="capabilityType" name="capability" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Leaves"/>
            <xs:enumeration value="TMT 46"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="catalogImage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            img/Temp/Temporary_21_9.png
        "/>
            <xs:enumeration value="
            img/Vapes/Leaves/Present/1_21_9.jpg
        "/>
            <xs:enumeration value="
            img/Vapes/TMT/46/Present/fspresent.jpg
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="shopImage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            img/Temp/Temporary_21_9.png
        "/>
            <xs:enumeration value="
            img/Vapes/Leaves/Present/1_21_9.jpg
        "/>
            <xs:enumeration value="
            img/Vapes/TMT/46/Present/fspresent.jpg
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="tagLine">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            Лес ваших фантазий
        "/>
            <xs:enumeration value="
            Создай волну
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="description">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            Не придумано
        "/>
            <xs:enumeration value="
            Эволюционный скачок паровых устройств. Он поможет тем, кто хочет отказаться от никотиновой зависимости. Мягкий и стильный дизайн и внутреннее противостояние всему искусственному.
        "/>
            <xs:enumeration value="
            Самый навороченный на рынке. Технология VapeTouch со встроенным Taptic Engine 5 подарит вам невероятный опыт использования и массу положительных впечатлений, а технология TransMediate позволит вам ощутить всю палитру вкусов. Внимание: на данный момент предоставляется предзаказ устройства. Купить устройство сразу можно будет 16 июня.
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sets">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            Не придумано
        "/>
            <xs:enumeration value="
            Размер: высота – 103.9 мм, ширина – 23.4 мм, толщина – 23.4 мм
            Аккумулятор: 3000 мАч
            Ток зарядки: 1А
            Мощность: 20/26 Вт
            Ёмкость картриджа: 1.5 мл
            Сопротивление испарителя: 0.4 Ом
        "/>
            <xs:enumeration value="
            Размер: высота – 136.9 мм, ширина – 92.4 мм, толщина – 13.4 мм
            Аккумулятор: 6000 мАч
            Ток зарядки: 2А
            Мощность: 50/59 Вт
            Ёмкость картриджа: 1.9 мл
            Сопротивление испарителя: 0.4 Ом
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="secondImage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            img/Vapes/Leaves/Transparent/LeavesVapePresent2_21_9.png
        "/>
            <xs:enumeration value="
            img/Vapes/TMT/46/Transparent/fstransparent2.png
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="capabilitiesType" name="capabilities"/>
      <xs:element name="cost">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            undef
        "/>
            <xs:enumeration value="
            79.99
        "/>
            <xs:enumeration value="
            169.99
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="sidePhoto">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
            img/Temp/Temporary_21_9.png
        "/>
            <xs:enumeration value="
            img/Vapes/TMT/46/Transparent/fstransparent2.png
        "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="itemsType">
    <xs:sequence>
      <xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>